//sidler start
.mySiderClass,.ant-menu-submenu-placement-rightTop {
    background: #0d325e !important;
    .ant-layout-sider-trigger,
    .ant-menu-vertical {
        background: #0d325e !important;
    }
    .ant-menu {
        background: #0d325e !important;
        color: white !important;
    }

    .ant-menu-item-selected {
        background: #005fb3 !important;
    }

    .ant-menu-item-only-child {
        color: white !important;
    }

    .ant-menu-submenu-arrow {
        color: white !important;
    }

    .ant-menu-submenu-popup>.ant-menu {
        background: #0d325e !important;
    }

}

// sidler End
// header start
.myHeader {
    .headerRight {
        float: right;
        display: flex;
        height: 64px;
        margin-right: 50px;

        .headerItem {
            display: flex;
            align-items: center;
            padding: 0 20px;

            ul {
                background: white !important;
            }
        }
    }
    .avatarBox {
        display: flex;
        align-items: center;

        span {
            color: rgba(0, 0, 0, 0.85);
            font-weight: bold;
        }
    }
    .ant-menu-vertical {
        background: white !important;

        .logoutButton {
            color: rgba(0, 0, 0, 0.85);

        }
    }
}

// header end
// content start 
.tabpane-box{
    background: white;
    margin-top: 3px;
    padding:3px;
}